/*----style CSS container---*/
@font-face{
	font-family: "The Bold Font";
	src:url("font/theboldfont.ttf") format("truetype");
}
html, body{
	width: 100%;
	height: 100%;
	/*font-family: Tahoma, Geneva, Kalimati, sans-serif;*/
}
h2{
	font-weight: bold;
}

.navbar {
	padding: 0, 0, 0, 0;
	background-color:#81A4B0;

}

.nav-link{
	color: #FFFFFF !important;
}
.bg{
		background: url("https://nsa39.casimages.com/img/2018/09/12/180912043916904794.jpg") center ;
		background-repeat: no-repeat ;
		background-size: cover;
		height: 100%;
}
.weil{
	width: 100%;
	height: 100%;

    background: radial-gradient(ellipse at top, #000000 40%, #FFFFFF);
	opacity: 0.5;
	position: absolute;
}

/* --- style CSS first_page --- */

.first_page{
	margin-top: 0em;
	margin-bottom: 0em;

}

.first_page h1{
	padding-top: 2em;
}

.first_page img{
	margin-top: 5em;
}



.badge{
		background-color: #f23369;
		font-size: 1em;
		z-index: 4;
		height: 3rem;
}


.images{
	position: relative;
	margin-left: 2rem;
	margin-right: 2rem;

}

.titre{
	position: absolute;
	opacity: 0;
	font-size: 1.5em;
	color: #FFFFFF;
	font-weight: bold;
	top: 60%;
	left:20%;
}


/*couleur des thématiques*/

.posture{
	border: 0.5rem solid rgba(242, 51, 105);
	background-color: rgba(215, 107, 115, 1);
}

.activity{
	border: 0.5rem solid #fbcd00;
	background-color: rgba(238, 208, 75, 1);
}

.testimony{
	border: 0.5rem solid #00A1AD ;
	background-color: rgba(82, 215, 225, 1);
}

/*  ---style CSS why ---*/
.why{
	margin-top: 5em;
	margin-bottom: 5em;
}

.extraitText {
	color:#429188;
	font-size:1.8em;
	text-align: center;
	font-style: italic;
	margin-top:1.5em;
	margin-bottom:1.5em;
}


/* ----- Style CSS TEMOIGNAGE ----- */
.imgTemoin{
	width: 65px;
	height: 65px;
}

.marginTemoin{
	margin-bottom: 5em;
}

/* ----- Style CSS CARDS ----- */
.titreSection 
{
	text-align:center;
}

.titreSection h1 
{
	font-weight: bold;font-size:2em;margin:1em;
}

.titreSection p 
{
	font-size:1.5em;
	margin:1em;
}

/* Par défaut, collapse est à hauteur zéro, on force sa hauteur, on cache le contenu qui déborde */
.card .collapse {
	position: relative;
	display: block;
	overflow: hidden;
	height: 9.5em;
}

/* Lors de l'ouverture, définition de la hauteur de la div qui est égale à la hauteur du contenu */
.card .collapse.show {
  height: auto;
}

/* Lors de la transition de fermeture, indique la taille finale que doit avoir la div */
.card .collapsing {
	height: 9.5em;
}

.card-body .showp {
	height: 3em;
	line-height: 3em;
	text-align: center;
}

.card-body a.collapsed, .card-body a:not(.collapsed) {
	border-radius: 5px;
	padding: 0.5em;
	background-color: #429188;
	color:#FFF;
	/*font-weight: 600;*/
}

/* Applique au balise a qui sont associées à la classe .collapsed, le contenu ci-dessous */
.card-body a.collapsed:after {
  content: '▼ Déplier';
}

/* Applique au balise a qui NE SONT PAS associées à la classe .collapsed, le contenu ci-dessous */
.card-body a:not(.collapsed):after {
  content: '▲ Replier';
}

.card 
{
	border:1px 
	solid #429188;
}

.card-header {
	background-color: #429188;/*#01A9DB*/;
	color:#FFF;
	font-weight: bold;
	text-transform: uppercase;
}

.card-header i {
	/*background-color:#FFF;
	color:#01A9DB;*/
	padding: 0.5em 0.3em 0.5em 0.3em;
}

.card-body .imgView {
	float: left;
	margin: 0 0.5em 0 0;
}

@media only screen and (max-width: 320px) {
	html, body {
		width: auto;
		height: auto;

	}
	.pages{
		background-color: #FFFFFF;
	}

	.first_page h1{
		margin-top: 2em;
		font-size: 3em; 
		text-align: center;
	}

	.bg{
		height: auto;
	}

	.card-body .imgView {float: none;text-align: center;}
	html, body{
		width: auto;
		height: auto;
	}

	.bg
	{ 
		height: auto;
	}

	.first_page h1
	{
		padding-top: 1em;
	}

	.pages {background-color:#FFF;}
}

a
{
	color: #000000;
}

a,
{
	font-size: 1.3em;

}
.resume{
	color: #FFF;
}

.resume
{
	color: #FFF;
}


h1
{   
	font-family: The Bold Font;
	font-size: 6em;
	letter-spacing: 3px;
	color: #FFFFFF;
}

h2
{
	font-size: 2.2em;
}

h3
{
	font-size: 2em;
}

h6
{
	font-size: 1.7em;
}

/* Voile images d'acceuil */



.voile:hover{
	background-color: #36393A;/*gris foncé*/
}


.voile:hover .titre{
	opacity: 1;
	color: rgba(242, 51, 105);/*rose*/
	z-index: 2;
}




.paddingSection{
	padding: 10em 0;

}

/* navbar */

nav
{
	background-color: rgb(120, 125, 110, 0.8); /* la 4 eme valeur définis l'opacité (valable uniquement en rgb)*/
}



.navbar {
	padding: 0, 0, 0, 0;
}

.navbar-brand
{
	padding-top: 0;
	padding-bottom: 0;
}

/* footer */

footer
{
	background-color: rgb(120, 125, 110, 0.8);
}

.showp
{
	padding-top: 3.5%;
}

.pb-5, .py-5 {
    padding-bottom: 0rem!important;
}

.blabla
{
	padding-top: 8%;
}


.voile:hover{
	background-color: #36393A;/*gris foncé*/

}
.testimonies{
	background-color: rgba(0,161,173,0.3);
}
