/*Polices*/
@font-face {
	font-family: "The Bold Font";
	src: url("font/theboldfont(1).ttf") format("truetype");
}

body{font-family:Arial,Helvetica,sans-serif;}

h1{   
	font-family: "The Bold Font";
	font-size: 4em;
	letter-spacing: 3px;
}

h2 {font-size: 2.2em;font-family: "The Bold Font";letter-spacing: 1.5px;}

h3{font-size: 1.5em;font-family: "The Bold Font";letter-spacing: 1.5px;}

h6{font-size: 1.7em; font-weight: bold;}

a{color: #000000;}

.navbar a {font-size: 1.3em;}

p{font-size: 1.3em;}


.paddingSection{padding: 5em 0 0 0;}


/*header*/
.navbar {
	padding: 0, 0, 0, 0;
	background-color:#2B2C26;

}
.nav-link{color: #FFF; font-weight: bold;}

.nav-item{margin-right:1em;}

.nav-link:hover {text-decoration: underline;color: rgba(242, 51, 105)}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
}

/*introduction*/
.introduction{
	padding-top: 12em;
	padding-bottom: 6em;
	background: url("images/image_de_fond2.jpg") center ;
	background-repeat: no-repeat ;
	background-size: cover;
	text-align: center;
}
.introduction h1 {color: #FFFFFF; font-size: 6em;}

.resume{
	color: #FFF;
	font-weight: bold;
	margin-top: 2em;
}

.resume strong{
	font-size: 1.2em;
	font-weight: bold;
}

.introduction a { color: rgba(242,51,105,1); text-decoration: underline;}

.introduction hr {border: 1.5px solid  #FFFFFF;width: 20%;}

/*pictos*/
.picto {margin-top:4em;margin-bottom:4em;}
.picto hr.posture {border: 1.5px solid #f23369;width: 20%;}
.picto hr.activity {border: 1.5px solid #fba000;width: 20%;}
.picto hr.testimony {border: 1.5px solid #00A1AD;width: 20%;}
.picto p {font-family: "The Bold Font";letter-spacing: 3px;}
.picto img {border:none;filter: drop-shadow(1px 1px 1px black);}
.picto a:hover {color:#000;text-decoration: underline;}
.picto img:hover {filter: drop-shadow(5px 5px 5px black);}



/*padding section*/
.objectifs {background-color:  #eaecee; padding-bottom: 12em;}
.objectifs hr{border: 1.5px solid  #000;width: 20%;margin-bottom: 7em;}
.objectifs h1 {margin-top: 2em;}
.objectifs img{
	box-shadow:5px 5px 5px #888888;
}


.extraitText {
	color:#f23369;
	font-size:2.3em;
	text-align: center;
	margin-top: 2.5em;
	margin-bottom:2.5em;
	text-shadow: 2px 2px #CCC;
	font-style: italic;
}

/*témoignages*/
.temoignage h1 {margin-top: 2em;}
.temoignage hr{border: 1.5px solid  #000;width: 20%;margin-bottom: 7em;}
.temoignage p{font-size: em;}
.temoignage hr.testimony {border: 1.5px solid #00A1AD;margin-bottom: 0.5em;width: 30%;}
.temoignage img{box-shadow: 3px 3px 5px grey;}
iframe{
	margin-top: 3em;
}



/* FORMULAIRE */

.contactus{
	background-color: #2B2C26;
	color: #FFF;
}

.form-control {
    background-color: #2B2C26;
    border: 1px solid #fff;
    color: #fff;
}

.form-control:focus {
    color: #fff;
    background-color: #2B2C26;
}

.form-control::-webkit-input-placeholder{color:#999;opacity:1}
.form-control::-moz-placeholder{color:#999;opacity:1}
.form-control:-ms-input-placeholder{color:#999;opacity:1}
.form-control::-ms-input-placeholder{color:#999;opacity:1}
.form-control::placeholder{color:#999;opacity:1}

textarea.form-control {
    height: 100%;
}

.formHeight{
	height:8em;
}

.formHeightGlobal{
	height:100%;
}

.btn-form {
    color: #fff;
    font-weight: bold; 
    background-color: #DA636C;
    width:auto;
}

.btn-form:hover, .btn-form:focus {
    color: #2B2C26;
    font-weight: bold;     
    background-color: #fff;
    width:auto;
}

.legalmention{
	color: #FFF;
}

/* Cards */
.titreSection {
	padding-top: 5em;
	padding-bottom: 0em;
	background: url("images/image_de_fond2.jpg") center ;
	background-repeat: no-repeat ;
	background-size: cover;
	text-align: center;
}

.titreSection h1 {color: #FFF;font-size:4em;}

.contenuTitreSection {
	color:#FFF;
	font-weight: bold;
	margin-top: 4em;
	margin-bottom:0;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

.card-header {
	border-bottom: 1px solid #CCC;
	color:#000;
	font-weight: bold;
	text-transform: uppercase;
}
.card-header i {padding: 0.5em 0.3em 0.5em 0.3em;}

/* Par défaut, collapse est à hauteur zéro, on force sa hauteur, on cache le contenu qui déborde */
.card .collapse {
	position: relative;
	display: block;
	overflow: hidden;
	height: 10em;
}

/* Lors de l'ouverture, définition de la hauteur de la div qui est égale à la hauteur du contenu */
.card .collapse.show {height: auto;}

/* Lors de la transition de fermeture, indique la taille finale que doit avoir la div */
.card .collapsing {height: 10em;}

.card-body .imgView {
	float: left;
	margin: 0 1em 0 0;
	box-shadow: 3px 3px 5px grey;
}

.card-body .showp {
	height: 4em;
	line-height: 4em;
	text-align: center;
}

.card-body a.collapsed, .card-body a:not(.collapsed) {
	border-radius: 5px;
	padding: 0.5em;
	box-shadow: 1px 1px 3px grey;
	color:#333;
	font-size:1.1em;
}

/* Applique au balise a qui sont associées à la classe .collapsed, le contenu ci-dessous */
.card-body a.collapsed:after {
  content: '▼ Déplier';
}

/* Applique au balise a qui NE SONT PAS associées à la classe .collapsed, le contenu ci-dessous */
.card-body a:not(.collapsed):after {
  content: '▲ Replier';
}

.cardsActivity hr {border: 1.5px solid #fba000;width: 20%;}
.cardsPosture hr {border: 1.5px solid #f23369;width: 20%;}

.cardsActivity .contenuTitreSection {background-color: rgb(251,160,0,0.5);}
.cardsPosture .contenuTitreSection {background-color: rgb(242,51,105,0.5);}

.cardsActivity .card-body a.collapsed, .cardsActivity .card-body a:not(.collapsed) {background-color: #fba000;}
.cardsPosture .card-body a.collapsed, .cardsPosture .card-body a:not(.collapsed) {background-color: #f23369;}

.cardsActivity .card {border:1px solid #fba000;box-shadow: 2px 2px 4px rgb(251,160,0,0.4);}
.cardsPosture .card {border:1px solid #f23369;box-shadow: 2px 2px 4px rgb(242,51,105,0.5);}

.cardsActivity .card:hover {box-shadow: 5px 5px 5px rgb(251,160,0,0.4);}
.cardsActivity .card:hover .card-header {background-image: linear-gradient(rgb(251,160,0,0.4) 40%, rgb(251,160,0,8));}

.cardsPosture .card:hover {box-shadow: 5px 5px 5px rgb(242,51,105,0.5);}
.cardsPosture .card:hover .card-header {background-image: linear-gradient(rgb(242,51,105,0.4) 40%, rgb(242,51,105,0.8));}

.moreInformations {background-color: #eaecee;}



@media only screen and (max-width: 320px) {

	.introduction h1 {font-size: 3em;letter-spacing: 1.5px;}
	.introduction{padding-top: 10em;}
	h1 {font-size: 2em;}
	.objectifs h1 {margin-top: 1em;}
	.objectifs hr{margin-bottom: 4em;}
	.paddingSection{padding: 2em 0 0 0;}
	.extraitText {font-size:1.8em;}
	.objectifs {padding-bottom: 3em;}
	.formHeight{height:20em;}
	.formHeight button{margin-left: 4em; margin-top: 2em;}
	.titreSection {padding-top: 7em;}
	.titreSection h1 {color: #FFF;font-size:2em;}
	.contenuTitreSection {font-weight: normal;}
	.card-body .imgView {float: none;text-align: center;box-shadow: none;margin-bottom:1em;}
	
}

@media (min-width: 321px) and (max-width: 768px) { 
	.introduction h1{font-size: 4em;}
	.paddingSection{padding: 2em 0 0 0;}
	.objectifs {padding-bottom: 5em;}
	.formHeight{height:22em;}
	.formHeight button{margin-left: 9em; margin-top: 2em;}
}


@media (min-width: 992px) { 
}

@media (min-width: 1200px) {

}