/*----style CSS container---*/
@font-face{
	font-family: "The Bold Font";
	src:url("font/theboldfont.ttf") format("truetype");
}

html, body
{
	width: 100%;
	height: 100%;
	/*font-family: Tahoma, Geneva, Kalimati, sans-serif;*/
}

.navbar 
{
	padding: 0, 0, 0, 0;
	background-color:#BDBDBD;
}

.nav-link
{
	color: #FFF !important;
	font-weight: bold;
	margin: 1em;
}

.bg{
		background: url("https://nsa39.casimages.com/img/2018/09/12/180912043916904794.jpg") center ;
		background-repeat: no-repeat ;
		background-size: cover;
		height: 100%;
}

.weil
{
	width: 100%;
	height: 100%;

    background: radial-gradient(ellipse at top, #000000 40%, #FFFFFF);
	opacity: 0.5;
	position: absolute;
}

/* --- style CSS first_page --- */

.first_page
{
	margin-top: 0em;
	margin-bottom: 0em;
}

.first_page h1
{
	padding-top: 2em;
}

.badge
{
		background-color: #f23369;
		font-size: 1em;
		z-index: 4;
		height: 3rem;
}


.titre{
	position: absolute;
	width:100%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
	font-size: 1.4em;
	display:none;
	font-weight: bold;
}

.titrePosture {color:rgba(242, 51, 105);}
.titreExercices {color:rgba(238, 208, 75);}
.titreTestimony {color:rgba(82, 215, 225);}


.pages ul {list-style-type: none;margin-top:0em;padding-left: 0px;}
.pages ul li {
	position:relative;
	display: inline-block;
	overflow:hidden;
	-webkit-border-radius:128px;
	-moz-border-radius:128px;
	border-radius:128px;
	width:256px;
	height:256px;
	padding:0em;
	margin:7em;
	margin-right: 0em;
}
.pages a:link,
.pages a:visited,
.pages a:focus,
.pages a:active {text-decoration: none;}

.posture{
	border: 0.5rem solid rgba(242, 51, 105);
	background-color: rgba(215, 107, 115, 1);
}

.activity{
	border: 0.5rem solid #fbcd00;
	background-color: rgba(238, 208, 75, 1);
}
.testimony{
	border: 0.5rem solid #00A1AD ;
	background-color: rgba(82, 215, 225, 1);
}

/* Voile images d'acceuil */
.voile {
	position: absolute;
	width:100%;
	height:100%;
	margin:0;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius:128px;
	display: none;
}

.posture:hover .voile {display: block;}
.posture:hover .titre {display: block;}
.activity:hover .voile {display: block;}
.activity:hover .titre {display: block;}
.testimony:hover .voile {display: block;}
.testimony:hover .titre {display: block;}

/*  ---style CSS why ---*/
.why
{
	margin-top: 5em;
	margin-bottom: 5em;
}

.extraitText 
{
	/*font-family: "The Bold Font";*/
	color:rgba(242, 51, 105);/*#81A4B0*/;
	font-size:2em;
	text-align: center;
	/*font-weight: bold;*/
	/*font-style: italic;*/
	margin-top:1.5em;
	margin-bottom:1.5em;
}



/* ----- Style CSS TEMOIGNAGE ----- */
.imgTemoin
{
	width: 65px;
	height: 65px;
}

.marginTemoi
{
	margin-bottom: 5em;
}

/* ----- Style CSS CARDS ----- */
.titreSection 
{
	text-align:center;
}

.titreSection h1 
{
	font-weight: bold;font-size:2em;margin:1em;
}

.titreSection p 
{
	font-size:1.5em;
	margin:1em;
}

/* Par défaut, collapse est à hauteur zéro, on force sa hauteur, on cache le contenu qui déborde */
.card .collapse 
{
	position: relative;
	display: block;
	overflow: hidden;
	height: 9.5em;
}

/* Lors de l'ouverture, définition de la hauteur de la div qui est égale à la hauteur du contenu */
.card .collapse.show 
{
  height: auto;
}

/* Lors de la transition de fermeture, indique la taille finale que doit avoir la div */
.card .collapsing 
{
	height: 9.5em;
}

.card-body .showp 
{
	height: 3em;
	line-height: 3em;
	text-align: center;
}

.card-body a.collapsed, .card-body a:not(.collapsed) 
{
	border-radius: 5px;
	padding: 0.5em;
	background-color: #429188;
	color:#FFF;
	/*font-weight: 600;*/
}

/* Applique au balise a qui sont associées à la classe .collapsed, le contenu ci-dessous */
.card-body a.collapsed:after {
  content: '▼ Déplier';
}

/* Applique au balise a qui NE SONT PAS associées à la classe .collapsed, le contenu ci-dessous */
.card-body a:not(.collapsed):after {
  content: '▲ Replier';
}

.card 
{
	border:1px 
	solid #429188;
}

.card-header 
{
	background-color: #429188;/*#01A9DB*/;
	color:#FFF;
	font-weight: bold;
	text-transform: uppercase;
}

.card-header i 
{
	/*background-color:#FFF;
	color:#01A9DB;*/
	padding: 0.5em 0.3em 0.5em 0.3em;
}

.card-body .imgView 
{
	float: left;
	margin: 0 0.5em 0 0;
}

a
{
	color: #000000;
	font-size: 1.3em;
}
p{
	font-size: 1.5em;
}

.resume
{
	color: #FFF;
}

h1
{   
	font-family: The Bold Font;
	font-size: 6em;
	letter-spacing: 3px;
	color: #FFFFFF;
}

h2
{
	font-weight: bold;
	font-size: 2.2em;
}

h3
{
	font-size: 2em;
}

h6
{
	font-size: 1.7em;
}

.paddingSection{
	padding: 5em 0;
}

/* navbar */

nav
{
	background-color: rgb(120, 125, 110, 0.8); /* la 4 eme valeur définis l'opacité (valable uniquement en rgb)*/
}


.navbar {
	padding: 0, 0, 0, 0;
}

.navbar-brand
{
	padding-top: 0;
	padding-bottom: 0;
}

/* footer */

footer
{
	background-color:#81A4B0;
}

.showp
{
	padding-top: 3.5%;
}

.pb-5, .py-5 
{
    padding-bottom: 0rem!important;
}

.blabla
{
	padding-top: 8%;
}

.testimonies{
	background-color: rgba(0,161,173,0.3);
}

@media only screen and (max-width: 320px) {
	html, body {
		width: auto;
		height: auto;

	}
	.pages{
		background-color: #FFFFFF;
	}

	.first_page h1{
		margin-top: 2em;
		font-size: 3em; 
		text-align: center;
	}

	.bg{
		height: auto;
	}

	.card-body .imgView {float: none;text-align: center;}
	html, body{
		width: auto;
		height: auto;
	}

	.bg
	{ 
		height: auto;
	}

	.first_page h1
	{
		padding-top: 1em;
	}

	.pages {background-color:#FFF;}
}
